In [2]:
print("Hello Vikram")

Hello Vikram

In [4]:
print("Hello Vikram How are you /n mc")

Hello Vikram How are you /n mc

In [6]:
print("Hello Vikram How are you \n mc")

Hello Vikram How are you
 mc

In [8]:
a = "Vikram";
print(a);

Vikram

In [10]:
a = 9
b = 10
print( a + b)
print( b -a )
print ( a* b)
print ( a**b)
print ( a/b)

19
1
90
3486784401
0.9

In [18]:
a = 10
a += 10
print(a)
a -= 10
print(a)
a *= 10
print(a)
a /= 10
print(a)

20
10
100
10.0

# logical

In [31]:
print( 3 < 4 )
print ( True or False )
print( True and False) 
print ( not True )

True
True
False
False

# String

In [56]:
some_sentence = "Hello Vikram how are you is learning python     good     "
print( some_sentence )
print( some_sentence.rstrip( ))
print ( some_sentence.strip( ))

increment = '%4%'
print( increment.rstrip('%') )

some_new_sentence = "   Hello leena im missing your good afternoon  "
print( some_new_sentence.lstrip());
print( some_new_sentence.strip());

Hello Vikram how are you is learning python     good
Hello Vikram how are you is learning python     good
Hello Vikram how are you is learning python     good
%4
Hello leena im missing your good afternoon
Hello leena im missing your good afternoon

In [60]:
val = "2 Apples"
number_of_apples = val[0]
print( number_of_apples);

2

In [68]:
# slicing by specifying start
print( val[2:])

Apples

In [66]:
# slicing by specifying start and end
print( val[0: 3])

2 A

In [74]:
# slicing by specifying end 
print ( val [: -2])

2 Appl

In [83]:
# more on slicing
numbers = '123456789'
alphabets = 'abcdefghijklmnopqrstuvwxyz'
print( numbers[0::1])
print( numbers[0::2])
print(numbers[2::3])
print( numbers[1:7:2])
print( alphabets[0:25:4])
print( alphabets[4::3])

123456789
13579
369
246
aeimquy
ehknqtwz

In [87]:
A = 'Data'
B = 'Analysis'
C = 'Pandas'
print(" {0} {1} using {2} ".format(A,B,C))

 Data Analysis using Pandas

In [89]:
# Input string
input_str = 'Kumar_Ravi_003'

# Split the string by underscores
parts = input_str.split("_")

# Extract the second name, first name, and customer code
second_name = parts[0]
first_name = parts[1]
customer_code = parts[2]

# Print the extracted values in the desired order
print(first_name)
print(second_name)
print(customer_code)

Ravi
Kumar
003

In [1]:
input("What is your name")

What is your name Vikram Singh

'Vikram Singh'

In [3]:
name =  input("What is your name");

What is your name Vikram Singh

In [5]:
print("Hi good morning " + name);

Hi good morning Vikram Singh

In [7]:
print("Hi good morning", name);

Hi good morning Vikram Singh

In [9]:
print("$"* 20)

$$$$$$$$$$$$$$$$$$$$

In [11]:
print("$\n" * 20)

$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$