# Comprehensions

In [5]:
l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garage"]
l2 = []
for ele in l1:
    l2.append(len(ele))
print( l2)

[11, 5, 4, 6, 13]

In [7]:
# Functional approach
l3 = [len(word) for word in l1 ]
l3

[11, 5, 4, 6, 13]

In [9]:
l1 = [2,1,21,21,4,12,43,21,4,21]
l2 = [3,2,1,3,221,4,21,312,3,1]
print(len(l1), len(l2))

10 11

In [11]:
# iterate on them together
l3 = []
for i,j in zip(l1, l2):
    l3.append( i-j );
print(l3)

[-1, -1, 20, 18, -217, 8, 22, -291, 1, 20]

In [13]:
#Dictonary Comprehension
l4 =["automobiles", "Honda", "Benz", "Suzuki", "Morris Garage"]
# create dictionary consisting of elements and length of each element of above list
d = {word: len(word) for word in l4 }
d

{'automobiles': 11, 'Honda': 5, 'Benz': 4, 'Suzuki': 6, 'Morris Garage': 13}

In [15]:
# Set comprehension
word = input('Enter a word: ')
vowels = { char for char in word if char in "aeiouAEIOU" }
vowels

Enter a word:  vikram

{'a', 'i'}

In [25]:
# Create list with first 10 multiple 6 in it, so we may do this with a normal for loop or with list comprehensions, Let's see both of them and understand difference
l1 = []
for i in range(1,11):
    l1.append(6*i)

l2 = [ i*6 for i in range(1,11)]
print( l1, l2)

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60] [6, 12, 18, 24, 30, 36, 42, 48, 54, 60]

In [29]:
# with even numbers only
l2 = [ n*6 for n in range(1,11) if n%2 == 0]
print( l1, l2)

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60] [12, 24, 36, 48, 60]

In [33]:
# Applying list comprehension with if and else condition
# Suppose​​we​​need​​to​​create​​a​​list​​of​​multiple​​of​​6​​for​​even​​numbers​​between​​1​​to​​10​​andmultiple​​of​​5​​for​​rest​​of​​the​​numbers.
l2 = [ n*6 if n%2 == 0 else n*5 for n in range(1,11) ]
print( l1, l2)

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60] [5, 12, 15, 24, 25, 36, 35, 48, 45, 60]

In [39]:
# Applying​​list​​comprehension​​with​​Nested​​loopsNow,​​
# Suppose​​we​​need​​to​​multiply​​n​​ranging​​from​​1​​to​​10​​with​​first​​1​​then​​2​​and​​then​​3.
list1 = []
for i in range(1,4):
    for j in range(1,11):
        list1.append(j*i)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [43]:
# nested loop comprehension
list2 = [ i*j for i in range(1,4) for j in range(1,11) ]
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]