# Map Reduce Filter

In [29]:
countries = [ "india", "america", "united kingdom", "australia", "alaska", "germany", "japan"]
countriesUpper = lambda x: x.upper()
def func(countries):
    new_list = [];
    for country in countries:
        new_list.append(countriesUpper(country));
    return new_list

func(countries)

['INDIA',
 'AMERICA',
 'UNITED KINGDOM',
 'AUSTRALIA',
 'ALASKA',
 'GERMANY',
 'JAPAN']

### MAP

In [25]:
country_list = map(countriesUpper, countries)
print( list(country_list))

['INDIA', 'AMERICA', 'UNITED KINGDOM', 'AUSTRALIA', 'ALASKA', 'GERMANY', 'JAPAN']

In [22]:
L1 = [2,4,6,8,10]
f_square = lambda x: x**x
list(map(f_square, L1))

[4, 256, 46656, 16777216, 10000000000]

### Filter

In [38]:
L2 = [1,2,3,4,5,6,7,8,9,32,3,4,2,1,32,21,4311,33]
multiple_3 = lambda x: x%3 == 0
filter(multiple_3, L2)
list(filter(multiple_3, L2))

[3, 6, 9, 3, 21, 4311, 33]

In [54]:
students_data = { 1:['Sam', 15] , 2:['Rob', 18], 3:['Kyle', 16], 4:['Cornor', 19], 5:['Trump', 20] }
students_data
f = lambda item: item[1][1] > 18
list(filter(f, students_data.items()))

[(4, ['Cornor', 19]), (5, ['Trump', 20])]

### Reduce

In [96]:
from functools import reduce
l = range(1,7)
list(l)

def f(x,y):
    result = x*y
    print(f"Multiplying {x} * {y} = {result}")
    return x*y;
reduce( f, list(l))

TypeError: f() takes 1 positional argument but 2 were given

In [98]:
l=(1, -2, -3, 4, 5)
def f1(x):
    return x//2
m1=map(f1, l)
print(list(m1))

[0, -1, -2, 2, 2]

In [100]:
numbers = [-1, 2, -5, 3, 8,-2, 1,-4,-2]
sum = reduce(lambda x, y: x + y, numbers)
print(sum)

0

In [102]:
print(list(reduce(lambda x,y:x+y,range(5,15))))

TypeError: 'int' object is not iterable

In [104]:
letters = ('d','i','a','s')
ans = list(map(lambda word: f"{word}x", letters))
print(ans)

['dx', 'ix', 'ax', 'sx']

In [106]:
def sf(a):
    return a%4==0 and a%8!=0
m=filter(sf, range(10, 31))
print(list(m))

[12, 20, 28]