# SET

In [3]:
l = [3,32,3,2,32,3,21,3,2,14352,3,13]
print( type(l))

set_l = set(l)
print( set_l)
print( type(set_l))

<class 'list'>
{32, 2, 3, 13, 14352, 21}
<class 'set'>

In [9]:
set_c = {'Apple', 'Mango', 'Banana', 1,2,3}
set_c.add('Vikram')
set_c.remove(2)
print( set_c )
print( set_c )

{'Apple', 1, 3, 'Vikram', 'Banana', 'Mango'}
{'Apple', 1, 3, 'Vikram', 'Banana', 'Mango'}

In [11]:
set_1 = {0,2,4,6,8}
set_2 = {1,2,3,4,5}

# union 
print( set_1.union(set_2))
print( set_1 | set_2 )

# intersection
print( set_1 & set_2 )
print( set_1.intersection(set_2))

#difference
print( set_1 - set_2 )
print ( set_2 - set_1 )
print ( set_1.difference(set_2))

#Symmetric difference
print( set_1^set_2 )
print( (set_1|set_2) - (set_1&set_2))

{0, 1, 2, 3, 4, 5, 6, 8}
{0, 1, 2, 3, 4, 5, 6, 8}
{2, 4}
{2, 4}
{0, 8, 6}
{1, 3, 5}
{0, 8, 6}
{0, 1, 3, 5, 6, 8}
{0, 1, 3, 5, 6, 8}

In [13]:
A = set('Vikram')
print(A)

{'r', 'a', 'm', 'k', 'i', 'V'}

In [21]:
print( 'm' in A)

True