# Tuples

In [9]:
simple_tuple = ("vikram", "singh", "chauhan")
print( simple_tuple);
print( simple_tuple[0]);
print( simple_tuple[0:]);
print( simple_tuple[0::2])

new_tuple = simple_tuple
print(new_tuple)

('vikram', 'singh', 'chauhan')
vikram
('vikram', 'singh', 'chauhan')
('vikram', 'chauhan')
('vikram', 'singh', 'chauhan')

In [19]:
simple_list = list(simple_tuple)
print( simple_list)
simple_list.append("Python")
print( simple_list)
new_tuple = tuple(simple_list)
print(new_tuple)

['vikram', 'singh', 'chauhan']
['vikram', 'singh', 'chauhan', 'Python']
('vikram', 'singh', 'chauhan', 'Python')

In [21]:
list_tuple = (['1','2','3'], [], "Vikram")
print(list_tuple)

(['1', '2', '3'], [], 'Vikram')

In [2]:
# A tuple can be defined without parenthesis
t = 1,2,3,4
print(t)

(1, 2, 3, 4)

In [4]:
# Single value tuple
ts = 1,
ti = 1
print( ts, ti)
print( type(ts), type(ti))

(1,) 1
<class 'tuple'> <class 'int'>

In [6]:
print( sum(t))
print( max(t))
print( min(t))

10
4
1

In [8]:
# Slicing
t = ( "Mumbai", 3, 2, "Python", "vikram")
print( t[0: 3])

('Mumbai', 3, 2)

In [10]:
tup1 =  ("This", "is", "Session", 2)
tup2 = ( "On", "tup")
tup3 = tup2 + tup1
print( tup3)

('On', 'tup', 'This', 'is', 'Session', 2)

In [12]:
# Sorting
t = ( 1,3,23,43,12,1)
ts = sorted(t)
#or
tsl = list(t)
tsl.sort()
nt = tuple(tsl)

print( ts, nt)

[1, 1, 3, 12, 23, 43] (1, 1, 3, 12, 23, 43)

In [14]:
# packing and unpacking tuples
t = ( 1,2,3,4) #packing
t

(1, 2, 3, 4)

In [16]:
(a,b,c,d) = t #unpacking
c

3

In [18]:
print( t[1:-4])

()

In [20]:
x = ('2')
print(x)

2

In [22]:
y = (1)
print( y)

1