# Variables
Python variables are container that can store any type

In [4]:
var = "mike"
print(var);

mike

In [6]:
var2 = 2
print(var2)

2

In [10]:
var3 = input("Whats your favourite number?")
print(var3)

Whats your favourite number? 80

80

In [12]:
name = input("Whats your name: ")

Whats your name:  Vikram

In [14]:
print("Welcome", name)

Welcome Vikram

#  Data Types

In [25]:
x = 5
print( type(x))

y = "hello world"
print( type(y))

z = 10.5
print( type(z) )

a = ["apple", "banana", "cherry"]
print( type(a))

b = ("apple", "banana", "cherry")
print(type(b))

c = range(7)
print(type(c))
print( c )

d = {"name" : "John", "age" : 36}
print( type(d))

e = {"apple", "banana", "cherry"}
print( type(e))

f = frozenset({"apple", "banana", "cherry"})
print( type(f))

g = True
print( type(g))

h = b"hello"
print( h)
print( type(h))

i = bytearray(5)
print( i )
print( type(i))

j = memoryview(bytes(5))
print(j)
print( type(j))

k = None
print( k)
print(type(k))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'range'>
range(0, 7)
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
b'hello'
<class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>
<memory at 0x000001FA115F3AC0>
<class 'memoryview'>
None
<class 'NoneType'>

### Type Casting

In [28]:
var = 90
print( int(var) )

print( float(var))

print( str(var))

print( complex(var))

print( bool(var))

90
90.0
90
(90+0j)
True

# Arithematic Operation

In [31]:
a = 10
b = 20
print( a+b )
print( a-b)
print( a*b )
print ( a/b)
print( a**b)
print( a//b)
print( a%b)

30
-10
200
0.5
100000000000000000000
0
10